*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color : gainsboro;
    font-family: "Lucida Handwriting",Cursive;
}
#container {
    width: 100vw;
    height: 9vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }
#card {
    width: 100vw;
    height: 9vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#task{
    border-radius: 100px;
}
#tasks {
    height: 9vh;
    font-size: 20px;
    padding: 12px 20px;
    margin: 1px 0;
    box-sizing: border-box;
}
.button a{
    background-color: rgb(224, 100, 100);
    padding: 0.3em;
    border-radius: 100px;
    font-size: 1.2rem;
    color: black;

}
#taskReference {
    height: 9vh;
    background-color: ghostwhite;
    list-style: none;
    font-size: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 20px;
    margin-top: 0.4em;
    margin-bottom: 0.8em;
}

#addButton {
    background-color: #4CAF50; /* Green */
    border: none;
    position: absolute;
    border-radius: 100px;

    left:68%;
    width:100px;
    height:35px;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#taskdelete {
    background-color: green;

}


a:link {
    color: whitesmoke;
    text-decoration: none;
}
a:visited {
    color: whitesmoke;
    text-decoration: none;
}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 1px 0;
    box-sizing: border-box;
}
